<p>URL edit page</p>
<button mat-raised-button (click)="createUrl()" >+</button>
<div style="width:500px; position:relative;">
  <mat-list style="display: flex;
                  flex-direction: row;
                  align-items: center;
                  background-color: darkgrey;
                  margin: 4px;" *ngFor="let item of urlPresentation" >
  <a style="padding-inline-end: 10%;">{{item.UrlName}}</a>
  <button  mat-raised-button color="primary" [class.selected]="item === selectedURL" (click)="magiClick(item)"  mat-button >Magic</button>
  <button  mat-raised-button color="accent" [class.selected]="item === selectedPresentation" (click)="changePresentationSettings(item)"  mat-button>Presentation Settings</button>
  <button mat-mini-fab color="warn" >X</button>
</mat-list>
</div>
