<h1>Manage URL-s</h1>
<div>
  <button class="createBTN" mat-mini-fab color="accent"
          matTooltip="Create new URL"
          matTooltipPosition="left" (click)="createUrl()" >+</button>
</div>
<div class="containerDiv">
  <mat-list  *ngFor="let item of urlPresentation" >
    <mat-list-item class="form-control" >
      <div class="NameClass">
        <a>{{item.UrlName}}</a>
      </div>
      <div class="buttonsClass">
        <button  mat-raised-button color="primary"
        matTooltip="Change HTML grab section" 
        matTooltipPosition="below" [class.selected]="item === selectedURL" (click)="magiClick(item)"  mat-button >Magic</button>
        <div class="divider"></div>
        <button  mat-raised-button color="accent"
        matTooltip="Change Presentation Settings"
        matTooltipPosition="below" [class.selected]="item === selectedPresentation" (click)="changePresentationSettings(item)"  mat-button>Settings</button>
        <div class="divider"></div>
        <button mat-mini-fab color="warn"
        matTooltip="Delete URL"
        matTooltipPosition="below" >X</button>
      </div>
    </mat-list-item >
</mat-list>
</div>
