<div class="d-flex justify-content-between">

  <h4>Edit URL</h4>

  <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>

</div>

<div style="overflow: auto; height: auto;">
  <form #form="ngForm" (submit)="onSubmit(form)"
        autocomplete="off">
    <div class="mt-4 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          URL Name
        </span>
      </div>
      <input required minlength="3" type="text"
             class="form-control" name="UrlName"
             #URLName="ngModel"
             [(ngModel)]="urlService.formData.UrlName">
    </div>
    <div class="text-left text-danger" 
        *ngIf="URLName.invalid && URLName.touched">
      Please Enter URL name
    </div>

    <div class="mt-4 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          URL
        </span>
      </div>
      <input required minlength="12" type="text"
             class="form-control" name="URL"
             #URL="ngModel"
             [(ngModel)]="urlService.formData.URL">
    </div>
    <div class="text-left text-danger" 
        *ngIf="URL.invalid && URL.touched">
      Please Enter a URL
    </div>


    <h6 style="margin-top: 5%; margin-bottom: 0;" >Presentation Settings</h6>
    <div class="mt-4 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          Repetition
        </span>
      </div>
      <select required  type="text"
             class="form-control" name="RepetitionName"
             #RepetitionName="ngModel"
             [(ngModel)]="urlService.formData.RepetitionName">
        <option *ngFor="let item of repetitions" [value]="item.RepetitionName">
          {{item.RepetitionName}}
        </option>
      </select>
    </div>
    <div class="text-left text-danger" 
        *ngIf="Repetition.invalid && Repetition.touched">
      Please Select one of the options
    </div>

    <input style="visibility: hidden;" type="text"
             class="form-control" name="PresentationID"
             #PresentationID="ngModel"
             [(ngModel)]="urlService.formData.PresentationID">
    <input style="visibility: hidden;" type="text"
            class="form-control" name="Repetition"
            #Repetition="ngModel"
            [(ngModel)]="urlService.formData.Repetition">
    <input style="visibility: hidden;"  type="text"
            class="form-control" name="MagicID"
            #MagicID="ngModel"
            [(ngModel)]="urlService.formData.MagicID">

    <div class="mt-4 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          Time-Frame
        </span>
      </div>
      <input required minlength="3" type="text"
             class="form-control" name="TimeFrame"
             #TimeFrame="ngModel"
             [(ngModel)]="urlService.formData.TimeFrame">
    </div>
    <div class="text-left text-danger" 
        *ngIf="TimeFrame.invalid && TimeFrame.touched">
      Please input a Time-Frame
    </div>

    <div class="mt-4 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          Date
        </span>
      </div>
      <input required [matDatepicker]="picker" type="text"
             class="form-control" name="StartDate"
             #StartDate="ngModel"
             [(ngModel)]="urlService.formData.StartDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div class="text-left text-danger" 
        *ngIf="StartDate.invalid && StartDate.touched">
      Please select a date
    </div>


    <button class="mt-4" mat-raised-button color="primary" (click)="onSubmit()" type="submit"
      [disabled]="URLName.invalid && URL.invalid">Save</button>
  </form>
</div>