<p mat-dialog-title >Presentation Settings</p>

<div mat-dialog-content>
  <a>Repetition</a>
  <select required name="Repetition" class="form-control" >
    <option *ngFor="let item of repetitionList" class="form-control"
            [value]="data.RepetitionName"
    >{{item.RepetitionName}}</option>
  </select>
  <a>{{repetionBind}}<br></a>
  <a>Time-frame</a>
  <input matInput class="form-control" [(ngModel)]="data.TimeFrame">
  </div>
  <div style="margin-top: 10px;">
    <a>Date</a>
    <input matInput *ngIf="data.StartDate" required [matDatepicker]="picker"
           class="form-control" type="text"
           name="DOJ"
           #DOJ="ngModel" [(ngModel)]="data.StartDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker="matDatepicker"></mat-datepicker>
  </div>
<mat-dialog-actions>
  <button mat-button (click)="close()" >cancel</button>
  <button mat-button  [mat-dialog-close]="data" >Save</button>
</mat-dialog-actions>
