.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logoutBTN {
  margin-top: auto;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}
.btnToolbar {
  margin-top: 200%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}