<p>magic works!</p>

<div *ngIf="selectedUrl">
  <div
    style="margin-left: 100px;  width:400px;height:250px;position:inherit;border:1px solid black; overflow: hidden;"
  >
  <iframe
        style="position: inherit; overflow: inherit; width:400px; height:250px; top:50px; right:50px;"
        [src]="trustedURL"
        frameborder="0"
    ></iframe>


<div class='resizable'>
    <div class='resizers'>
      <div class='resizer top-left'></div>
      <div class='resizer top-right'></div>
      <div class='resizer bottom-left'></div>
      <div class='resizer bottom-right'></div>
    </div>
  </div>
  </div>


  <button (click)="back()">Click me</button>
</div>
